@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

* {
    margin: 0;
}

body {
  margin: 0;
  font-family: 'Baloo Bhai 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #393b44;
  background-color: #f1f3f8;
}

.app h2 {
  text-align: center;
}

/* HOME */
.home {
  height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  -webkit-text-stroke: 1px #393b44;
  color: #f1f3f8;
  text-shadow:
      3px 3px 0 #8d93ab,
     -1px -1px 0 #8d93ab,  
      1px -1px 0 #8d93ab,
      -1px 1px 0 #8d93ab,
      1px 1px 0 #8d93ab;
}

.slogan p {
  margin-top: 1rem;
  font-size: 1.2em;
  font-weight: bold;
  color: #393b44;
  /* -webkit-text-stroke: 1px #393b44; */
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0.06em;
  color: #f1f3f8;
  padding: 0 0.2rem;
  background-color:#9591b4;
}

.text-above {
  position: relative;
  top: 1.9rem;
  right: 6.3rem;
  border-top: 1px solid #7f8088;
}

.text-below {
  position: relative;
  top: -2.8rem;
  left: 6.4rem;
  border-bottom: 1px solid #7f8088;
}

/* BUTTONS */
.btns {
  margin-right: 0.3em;
  padding: 0.5rem;
  color: #393b44;
  border: 1px solid #393b44;
  border-radius: 0.2rem;
}

.btns:hover {
  box-shadow: 1px 3px 9px 2px rgba(0,0,0,0.25);
}

.add {
  background-color: #d6e0f0;
}

/* .view {
    background-color: #d6e0f0;
    background-color: #8d93ab;
} */

.remove {
  background-color: #e7c9ab;
  margin-top: 1rem;
}

.proceed {
  background-color: #c6e4c6;
  margin-top: 1rem;
}

.checkout {
  margin-top: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  /* background-color: #c6e4c6; */
  background-color: #d6e0f0;
}

.bold {
    font-weight: bold;
}

/* NOT FOUND */
.not-found {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
