nav {
    padding: 0.9rem 0;
    background-color: #8d93ab;
    border-bottom: 1px solid #7f8088;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.25);
}

nav ul  {
    /* width: 100vw; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul a {
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.05em;
    font-weight: bold;
    color: #393b44;
}

nav ul a:hover, .logo:hover {
    color: #b6e4b6 !important;
}

.active {
    color: #d6e0f0;
}

.logo {
    color: #f1f3f8 !important;
}

.logo-icon {
    font-size: 1.3rem;
  -webkit-text-stroke: 1px #393b44;
  color: #f1f3f8;
  text-shadow:
      3px 3px 0 #8d93ab,
     -1px -1px 0 #8d93ab,  
      1px -1px 0 #8d93ab,
      -1px 1px 0 #8d93ab,
      1px 1px 0 #8d93ab;
}

.nav-link-cart {
    display: flex;
}

.nav-link-cart p {
    align-self: start;
    padding: 0 0.5rem;
    align-self: start;
}

.nav-link-cart p:first-child {
    padding: 0;
}
